body {
	font-family: 'Open Sans', sans-serif;
}
span {
	color: red;
}
h2 {
	text-align: center;
}
.accent-color {
	accent-color: #000000;
}
.ac {
	accent-color: rgb(234, 92, 26);
}
.circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #000000;
	margin-top: 20px;
	position: relative;
	animation-name: circle;
	animation-duration: 3s;
}

pre {
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
}

@keyframes circle {
	0% {
		border-radius: 100%;
		left: 0;
	}
	50% {
		border-radius: 0%;
		left: 150px;
	}
	100% {
		border-radius: 100%;
		left: 300px;
	}
}
.q {
	animation-timing-function: ease-in;
}
.w {
	animation-timing-function: ease-out;
}
.e {
	animation-timing-function: ease-in-out;
}
.r {
	animation-timing-function: linear;
}
.t {
	animation-iteration-count: 4;
}
.y {
	animation-iteration-count: infinite;
}
.u {
	animation-direction: alternate;
}
.i {
	animation-direction: reverse;
}
.o {
	animation-direction: alternate-reverse;
}
.p:hover {
	animation-play-state: paused;
}
.a {
	animation-delay: 3s;
}
.s {
	animation-fill-mode: forwards;
}
