body {
	font-family: 'Open Sans', sans-serif;
}

span {
	color: red;
}

h2 {
	text-align: center;
}

#al-con-center {
	height: 200px;
	width: 100px;
	align-content: center;
	background-color: #8c8c8c;
}

#al-con-start {
	height: 200px;
	width: 100px;
	align-content: start;
	background-color: #8c8c8c;
}

#al-con-end {
	height: 200px;
	width: 100px;
	align-content: end;
	background-color: #8c8c8c;
}

#al-con-flex-start {
	height: 200px;
	width: 100px;
	align-content: flex-start;
	background-color: #8c8c8c;
}

#al-con-flex-end {
	height: 200px;
	width: 100px;
	align-content: flex-end;
	background-color: #8c8c8c;
}

#al-con-space-bw {
	height: 200px;
	width: 100px;
	align-content: space-between;
	background-color: #8c8c8c;
}

#al-con-space-ar {
	height: 200px;
	width: 100px;
	align-content: space-around;
	background-color: #8c8c8c;
}

#al-con-space-ev {
	height: 200px;
	width: 100px;
	align-content: space-evenly;
	background-color: #8c8c8c;
}

#al-con-stretch {
	height: 200px;
	width: 100px;
	align-content: stretch;
	background-color: #8c8c8c;
}

.align-content {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 50px);
}

.align-content > div {
	box-sizing: border-box;
	border: 2px solid #8c8c8c;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#al-con-item1 {
	background-color: #8cffa0;
	min-height: 30px;
}

#al-con-item2 {
	background-color: #a0c8ff;
	min-height: 50px;
}

#al-con-item3 {
	background-color: #ffa08c;
	min-height: 40px;
}

#al-con-item4 {
	background-color: #ffff8c;
	min-height: 60px;
}

.al-it-container {
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: gray;
	-ms-box-orient: horizontal;
	display: flex;
	float: left;
}

.al-it-flex-start {
	align-items: flex-start;
}

.al-it-flex-end {
	align-items: flex-end;
}

.al-it-flex-end li {
	background: gold;
}

.al-it-center {
	align-items: center;
}

.al-it-center li {
	background: deepskyblue;
}

.al-it-baseline {
	align-items: baseline;
}

.al-it-baseline li {
	background: lightgreen;
}

.al-it-stretch {
	align-items: stretch;
}

.al-it-stretch li {
	background: hotpink;
}

.al-it-item {
	background: tomato;
	padding: 5px;
	width: 50px;
	margin: 5px;

	line-height: 50px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.align-items {
	width: 300px;
}

.align-self {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 200px;
	background-color: gray;
	width: 270px;
	display: flex;
}
.al-self {
	background: tomato;
	padding: 5px;
	width: 50px;
	margin: 5px;

	line-height: 50px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
.al-self-flex-start {
	align-self: flex-start;
}

.al-self-flex-end {
	align-self: flex-end;
}

.al-self-center {
	align-self: center;
}

.al-self-stretch {
	align-self: stretch;
}
#container1 {
	height: 200px;
	width: 200px;
	background-color: #8c8c8c;
	padding: 10px;
	margin: 50px;
	border: 2px solid #000;
}
.padding {
	height: auto;
	width: 50px;
	background-color: #8c8c8c;
	padding: 30px;
	text-align: center;
	align-self: center;
	border: 2px solid #000;
}
.elastic *.hide {
	display: none;
}
